.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.about-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 18rem;
}

.about-text p {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: $second-color;
    line-height: 2;
}

.about-text h2 {
    font-size: $h2-font;
    font-weight: 300;
    line-height: 1.4;
    font-style: italic;
}

.about-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.about-image .image-box {
    overflow: hidden;
}

.about-image .image-box img {
    width: 450px;
    max-width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-content .content img {
    width: 78px;
    height: auto;
}

.about-content .content p {
    font-size: $p-font;
    font-weight: 300;
    font-style: italic;
    color: $second-color;
    line-height: 1.8;
    margin-left: 3rem;
}