.contact {
    background-color: #505850;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    align-items: flex-start;
    gap: 2rem;
}

.contact-box img {
    width: 120px;
    height: auto;
    margin-bottom: 1rem;
}

.contact-box p {
    font-size: $p-font;
    font-weight: 400;
    color: #ffffff80;
    line-height: 1.8;
    transition: color 0.4s ease;
    &:hover {
        color: $main-color;
    }
}

.contact-box h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.contact-list li {
    margin-bottom: 10px;
    color: #ffffff80;
}

.contact-list li a {
    display: block;
    color: #ffffff80;
    font-size: $p-font;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.4s ease;
    &:hover {
        transform: translateX(5px);
        color: $main-color;
    }
}

.contact-list .social-icons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
}

.social-icons i {
    color: #fff;
    font-size: 25px;
    transition: all 0.4s ease;
    &:hover {
        color: $main-color;
    }
}