@import "./globalStyles";
@import "./variables";
@import "./header";
@import "./home";
@import "./place";
@import "./about";
@import "./destination";
@import "./trip";
@import "./customers";
@import "./newsletter";
@import "./contact";
@import "./footer";

* {
    @include configReset();
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-color;
    color: $text-color;
}

section {
    @include sectionConfig()
}
